  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


.container{
  display:flex;
  justify-content: flex-start;
  align-items: flex-start;  
  background-color: red;
}
.section-1{
  width: 310px;
  background-color:#121A28;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  padding-top: 35px;
}
.top-section{
  border-bottom: 1px;
  padding-bottom:12px ;
  border-bottom-style: solid;
  border-color: cyan;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

}
input{
  padding: 10px 10px;
  width: 210px;
  font-size: 15px;
  outline: none;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;

}
.search-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  
}
.searchimage{
  background-color: dodgerblue;
  border-radius: 2px;
  padding: 5px;


}
.weatherimage{
  width: 190px;
  height: 150px;
}
.temp-date{
align-self:flex-start;
display: flex;
justify-content: center;
align-items: flex-start;
flex-direction: column;
color: white;
margin-top: -35px;

}
.temp{
  margin-bottom: 0;
  font-size: 40px;

}
h1{
  font-weight: 400;
}
.date{
  margin-top: -4px;
  margin-bottom: -5px;
  font-size: 15px;


}
.celcius{
  font-size: 40px;

}
.details{
  display: flex;
  justify-content:flex-start;
  align-items:flex-start;
  flex-direction: column;
  gap: 10px;


}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  padding: 0;
  box-sizing: border-box;
  background-color:#0A111E;
  height: 100vh;
  max-height: 100%;
  
}


.bottom-section{
  display: flex;
  justify-content:space-between;
  align-items:flex-start;
  flex-direction: column;
  width: 100%;
  padding-left: 48px;
  padding-top: 10px;

}

.cloudimage, .waterimage,.sunimage,.locationimage{
  display: flex;
  justify-content:center;
  align-items:center;
  gap: 12px;
  color: white;
}
.cloud-details, .water-details,.sun-details,.location-details{

}
.location-details{
font-size: 14px;
}
.details p{
margin: 0;

font-size: 12px;

}
.section-2{
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

}
.title{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 75px ;
  color: white;
  font-weight: 300px;
  cursor: pointer;
  
}
p:active{
  color: rgba(9, 255, 230, 0.978);
  
}
.today{
  padding-left: 55px;
}


